.sw-c-header {
  background-color: $color-white-w1;

  &__top {
    @include table;

    height: 8rem;
    width: 100%;
  }

  &__logo {
    @include cell;
    @include font--logo(4rem);

    width: 18rem;

    vertical-align: middle;

    cursor: default;

    @include for-phone {
      display: block;

      width: 100%;

      padding-top: 1rem;
      padding-bottom: 1rem;

      text-align: center;
    }
  }

  &__tabs {
    @include cell;

    text-align: right;
    vertical-align: bottom;

    @include for-phone {
      display: block;

      width: 100%;

      padding-top: 1rem;

      text-align: center;
    }
  }

  &__bottom {
    background-color: $color-white-w2;
  }
}

@mixin tab-item {
  display: inline-block;

  padding-top: 1rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-bottom: 0.4rem;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  img {
    @include size(3rem);
  }
}

.sw-c-tabs {

  .sw-c-item {
    @include tab-item;

    &--active {
      @include tab-item;

      background-color: $color-white-w2;
    }
  }
}

@mixin link-item {
  @include padding(1.8rem);
  @include font--fancy(1.5rem);

  display: inline-block;

  text-transform: uppercase;
}

.sw-c-links {
  text-align: right;

  @include for-phone {
    text-align: center;
  }

  .sw-c-item {
    @include link-item;

    &:hover {
      color: $color-indigo-secondary;

      text-decoration: underline;

      transition: color 0.5s ease;
    }

    &--active {
      @include link-item;

      color: $color-indigo-secondary;

      text-decoration: underline;
    }
  }
}

.sw-c-title {
  @include font--thin(4.4rem);

  padding-top: 14rem;
  padding-bottom: 2rem;

  background-color: $color-amber-primary;

  cursor: default;
}