.sw-c-roll {
  @include margin(1rem);
  @include padding(0.4rem);

  display: inline-block;

  height: 3.6rem;
  width: 34rem;

  background-color: $color-white-w1;
  box-shadow: 0.2rem 0.2rem 0.3rem $color-gray-g1;

  border-radius: 0.4rem;

  @include for-phone {
    display: block;

    width: 95%;
  }

  &:hover {
    background-color: $color-white-w3;
  }

  &__container {
    @include table;

    width: 100%;
  }

  &__icon {
    @include cell;

    width: 3rem;

    text-align: left;

    img {
      @include size(2.6rem);

      vertical-align: middle;
    }
  }

  &__title {
    @include cell;
    @include font(1.8rem);

    text-align: left;
    vertical-align: middle;
  }

  &__value {
    @include cell;
    @include font(2rem);

    padding-right: 0.6rem;

    width: 8.5rem;

    color: $color-indigo-secondary;

    text-align: right;
    vertical-align: middle;
  }
}