$color-white-light: #fefefe;
$color-white-medium: #f8f8f8;
$color-white-dark: #dddddd;

$color-gray-light: #cccccc;
$color-gray-medium: #aaaaaa;
$color-gray-dark: #888888;

$color-black-light: #333333;
$color-black-medium: #222222;
$color-black-dark: #111111;

$color-indigo-primary: #3f51b5; //500
$color-indigo-seconday: #283593; //900

$color-amber-primary: #ffd740; //A200
$color-amber-secondary: #ffab00; //A700

$color-red-primary: #f44336; //500
$color-red-secondary: #d50000; //A700

$color-green-primary: #7cb342; //600
$color-green-secondary: #33691b; //900