$sw-c-menu-light: $color-white-w1;
$sw-c-menu-dark: $color-white-w2;
$sw-c-menu-border: $color-white-w3;

.sw-c-menu {
  height: 100%;
  width: 100%;

  background-color: $sw-c-menu-light;

  &__tabs {
    @include table;

    margin-top: 2rem;

    width: 100%;

    background-color: $sw-c-menu-dark;

    img {
      @include size(2.3rem);
    }
  }

  &__title {
    @include font--fancy;

    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 1.8rem;
    text-align: center;
  }

  &__items {
    padding-top: 1rem;
  }

  .sw-c-tab {
    @include table__cell;

    padding-top: 0.6rem;
    padding-bottom: 0.3rem;

    text-align: center;

    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom: 1px solid $sw-c-menu-border;

    &:first-child {
      border-top-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 0;
    }

    &--active {
      background-color: $sw-c-menu-light;

      border-top: 1px solid $sw-c-menu-border;
      border-left: 1px solid $sw-c-menu-border;
      border-right: 1px solid $sw-c-menu-border;
      border-bottom: 1px solid $sw-c-menu-light;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }

    &:active {
      background-color: $color-amber-primary;
    }
  }

  .sw-c-item {
    @include table;
    @include font;

    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    width: 100%;

    font-size: 1.6rem;

    &__title {
      @include table__cell;
    }

    &__icon {
      @include table__cell;

      padding-right: 0.5rem;

      width: 3rem;

      text-align: right;
      vertical-align: bottom;

      img {
        @include size(1.6rem);
      }
    }

    &:hover {
      background-color: $color-amber-primary;
    }

    &:active {
      background-color: $color-amber-secondary;
    }
  }

  .sw-c-box {

    a {
      padding-left: 3rem;
    }
  }
}

.sw-c-hamburger {


  img {
    @include size(3rem);
  }
}