@import 'mixin';

html {
  font-size: 10px;

  @include sw-for-tiny {
    font-size: 8px;
  }
}

input {
  &:required {
    &:invalid {
      border: 1px solid $color-red-secondary;
    }

    &:valid {
      border: 1px solid $color-green-secondary;
    }
  }
}

button:hover, input[type=submit] {
  cursor: pointer;
}