@font-face {
  font-family: 'alegreya_sanslight';
  src: url("../font/alegreya-webfont.woff2") format("woff2"), url("../font/alegreya-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleolight';
  src: url("../font/aleo-webfont.woff2") format("woff2"), url("../font/aleo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'quicksandlight';
  src: url("../font/quicksand-webfont.woff2") format("woff2"), url("../font/quicksand-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleobold';
  src: url("../font/aleo-bold-webfont.woff2") format("woff2"), url("../font/aleo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleoregular';
  src: url("../font/aleo-regular-webfont.woff2") format("woff2"), url("../font/aleo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../font/roboto-webfont.woff2") format("woff2"), url("../font/roboto-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'walkway_semiboldregular';
  src: url("../font/walkway-webfont.woff2") format("woff2"), url("../font/walkway-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaylight';
  src: url("../font/raleway-light-webfont.woff2") format("woff2"), url("../font/raleway-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 10px;
  background-color: #dddddd; }
  @media (max-width: 349px) {
    html {
      font-size: 8px; } }

input:required:invalid {
  border: 1px solid #d50000; }

input:required:valid {
  border: 1px solid #7cb342; }

button:hover, input[type=submit] {
  cursor: pointer; }

div {
  background-color: inherit; }

h1 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: ralewaylight, sans-serif;
  font-size: 4rem;
  text-align: center; }

h2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: ralewaylight, sans-serif;
  font-size: 4rem;
  text-align: center; }

h3 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: ralewaylight, sans-serif;
  font-size: 3rem;
  text-align: center; }

h4 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: ralewaylight, sans-serif;
  font-size: 2.4rem;
  text-align: center; }

p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-family: robotoregular, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5; }

a {
  color: #283593; }
  a:active {
    color: #ffd740; }

.sw-c-link {
  padding: 1rem 1rem 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: block;
  width: 70%;
  background-color: #3f51b5;
  border-radius: 0.8rem;
  font-family: aleobold, serif;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fefefe;
  cursor: pointer;
  box-sizing: border-box; }
  .sw-c-link:active {
    background-color: #ffd740;
    color: #111111; }
  .sw-c-link--friendly {
    background-color: #7cb342; }
  .sw-c-link--dangerous {
    background-color: #d50000; }
  .sw-c-link__small {
    margin-top: 1rem;
    display: block;
    font-family: aleobold, serif;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase; }
    .sw-c-link__small:hover {
      color: #111111; }

.sw-c-button__item {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  width: 32rem;
  border-radius: 0.6rem;
  display: inline-block;
  background-color: #fefefe;
  box-shadow: 0.2rem 0.2rem 0.2rem #aaaaaa; }
  .sw-c-button__item:active {
    background-color: #ffd740; }

.sw-c-button__content {
  display: table;
  table-layout: fixed;
  height: 3.4rem;
  width: 100%; }

.sw-c-button__icon {
  display: table-cell;
  width: 3.3rem;
  padding-left: 0.4rem;
  text-align: left;
  vertical-align: middle; }
  .sw-c-button__icon img {
    height: 2.5rem;
    width: 2.5rem; }

.sw-c-button__title {
  display: table-cell;
  font-family: robotoregular, sans-serif;
  font-size: 1.8rem;
  color: #222222;
  text-align: left;
  vertical-align: middle; }

.sw-c-button__value {
  display: table-cell;
  width: 8.5rem;
  font-family: aleobold, serif;
  font-size: 2rem;
  color: #283593;
  padding-right: 0.6rem;
  text-align: right;
  vertical-align: middle; }

.sw-c-list__item {
  padding: 1rem 1rem 1rem 1rem; }
  .sw-c-list__item:nth-child(odd) {
    background-color: #fefefe; }

.sw-c-list__header {
  display: table;
  table-layout: fixed;
  height: 4rem;
  width: 100%; }

.sw-c-list__icon {
  display: table-cell;
  width: 3rem;
  padding-right: 1rem;
  text-align: right;
  vertical-align: middle; }
  .sw-c-list__icon img {
    height: 2.6rem;
    width: 2.6rem; }

.sw-c-list__title {
  display: table-cell;
  font-family: aleobold, serif;
  font-size: 2rem;
  text-align: left;
  vertical-align: middle; }

.sw-c-list__chevron {
  display: table-cell;
  width: 3rem;
  text-align: center;
  vertical-align: middle;
  opacity: 0.8; }
  .sw-c-list__chevron img {
    height: 2.2rem;
    width: 2.2rem; }

.sw-c-list__information {
  display: table;
  table-layout: fixed;
  width: 100%; }

.sw-c-list__description {
  display: table-cell;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 3rem;
  font-family: robotoregular, sans-serif;
  font-size: 1.6rem; }

.sw-c-list__settings {
  display: table-cell;
  width: 3rem;
  padding-top: 1rem;
  text-align: right;
  vertical-align: middle; }
  .sw-c-list__settings__button {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    border-radius: 0.6rem; }
    .sw-c-list__settings__button img {
      height: 2.2rem;
      width: 2.2rem; }
    .sw-c-list__settings__button:active {
      background-color: #ffd740; }

.sw-c-list__submit {
  height: 3rem;
  width: 3rem;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.6rem; }
  .sw-c-list__submit:active {
    background-color: #ffd740; }

.sw-c-card {
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media (max-width: 349px) {
    .sw-c-card {
      width: 30rem; } }
  .sw-c-card__item {
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    display: inline-block;
    width: 10rem; }
    @media (max-width: 349px) {
      .sw-c-card__item {
        width: 8.4rem; } }
    .sw-c-card__item--small {
      padding: 0.6rem 0.6rem 0.6rem 0.6rem;
      display: inline-block;
      width: 7.5rem; }
      @media (max-width: 349px) {
        .sw-c-card__item--small {
          width: 7rem; } }
  .sw-c-card__title {
    font-family: robotoregular, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 349px) {
      .sw-c-card__title {
        font-size: 1.3rem; } }
  .sw-c-card__value {
    padding: 1rem 1rem 1rem 1rem;
    font-family: aleobold, serif;
    font-size: 3.8rem;
    color: #283593;
    text-align: center;
    vertical-align: middle; }

.sw-c-radio__item {
  padding: 2rem 2rem 2rem 2rem; }

.sw-c-radio__header {
  display: table;
  table-layout: fixed;
  height: 3rem;
  width: 100%; }

.sw-c-radio__radio {
  display: table-cell;
  width: 4rem;
  text-align: left;
  vertical-align: middle; }
  .sw-c-radio__radio img {
    height: 2.2rem;
    width: 2.2rem; }

.sw-c-radio__title {
  display: table-cell;
  font-family: aleobold, serif;
  font-size: 2.2rem;
  text-align: left;
  vertical-align: middle; }

.sw-c-radio__info {
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 3rem;
  font-family: robotoregular, sans-serif;
  font-size: 1.7rem; }

.sw-c-input__label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
  margin-left: 4%;
  font-family: aleobold, serif;
  font-size: 1.5rem;
  text-transform: uppercase; }

.sw-c-input__item {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 94%;
  background-color: #fefefe;
  border: 1px solid #dddddd;
  font-family: robotoregular, sans-serif;
  font-size: 1.8rem; }

.sw-c-input__description {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 92%;
  font-family: robotoregular, sans-serif;
  font-size: 1.1rem; }

.sw-c-input__validation {
  display: block;
  margin-bottom: 1.4rem;
  margin-left: 2%;
  font-family: aleobold, serif;
  font-size: 1.4rem;
  text-transform: uppercase; }

.sw-c-input__link {
  display: block;
  margin-bottom: 2rem;
  margin-left: 2%;
  font-family: robotoregular, sans-serif;
  font-size: 1.6rem; }

.sw-c-input__bool {
  display: block;
  width: 96%;
  padding-left: 2rem;
  margin-bottom: 2rem; }
  .sw-c-input__bool__item {
    display: inline-block;
    width: 5rem;
    text-align: center; }
    .sw-c-input__bool__item img {
      height: 2.4rem;
      width: 2.4rem; }
    .sw-c-input__bool__item:active {
      background-color: #ffd740; }
  .sw-c-input__bool__text {
    font-family: robotoregular, sans-serif;
    font-size: 1.6rem;
    text-align: center; }

.sw-c-submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  text-align: center;
  height: 5rem;
  width: 100%;
  border-top: 1px solid #dddddd;
  font-family: aleobold, serif;
  font-size: 2rem; }
  .sw-c-submit:active {
    background-color: #ffd740; }

.sw-c-randomizer {
  padding: 1rem 1rem 1rem 1rem;
  text-align: center; }
  .sw-c-randomizer__button {
    padding: 2rem 2rem 2rem 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem; }
    .sw-c-randomizer__button:active {
      background-color: #ffd740; }
  .sw-c-randomizer__image img {
    height: 7rem;
    width: 7rem; }
  .sw-c-randomizer__rolltext {
    padding-top: 1rem;
    font-family: aleobold, serif;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .sw-c-randomizer__value {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    font-family: aleobold, serif;
    font-size: 4rem;
    color: #3f51b5; }
  .sw-c-randomizer__title {
    padding-top: 3rem;
    border-top: 1px solid #dddddd;
    font-family: aleobold, serif;
    font-size: 2rem;
    color: #3f51b5; }
  .sw-c-randomizer__info {
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #dddddd;
    font-family: robotoregular, sans-serif;
    font-size: 1.3rem; }
  .sw-c-randomizer__rollfor {
    padding-top: 2rem;
    padding-bottom: 0.4rem;
    font-family: robotoregular, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #dddddd; }
  .sw-c-randomizer__attribute {
    font-family: aleobold, serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #dddddd; }

.sw-c-viewmore {
  padding-top: 3rem; }
  .sw-c-viewmore__button {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 1rem 1rem;
    display: block;
    border-radius: 0.6rem;
    width: 90%; }
    .sw-c-viewmore__button:active {
      background-color: #ffd740; }
  .sw-c-viewmore__label {
    display: table;
    table-layout: fixed;
    width: 100%; }
  .sw-c-viewmore__text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-family: aleobold, serif;
    font-size: 1rem;
    text-transform: uppercase; }
  .sw-c-viewmore__image {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }
    .sw-c-viewmore__image img {
      height: 1.5rem;
      width: 1.5rem; }

.sw-c-purchase {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dddddd; }
  .sw-c-purchase__head {
    display: table;
    table-layout: fixed;
    height: 4rem;
    width: 100%; }
  .sw-c-purchase__button {
    display: table-cell;
    width: 4rem;
    text-align: center;
    vertical-align: middle; }
    .sw-c-purchase__button:active {
      background-color: #ffd740; }
    .sw-c-purchase__button img {
      height: 2.6rem;
      width: 2.6rem; }
  .sw-c-purchase__image {
    display: table-cell;
    padding-left: 1rem;
    width: 3rem;
    text-align: left;
    vertical-align: middle; }
    .sw-c-purchase__image img {
      height: 2rem;
      width: 2rem; }
  .sw-c-purchase__title {
    display: table-cell;
    vertical-align: middle;
    font-family: robotoregular, sans-serif;
    font-size: 1.4rem; }
  .sw-c-purchase__value {
    display: table-cell;
    width: 3rem;
    text-align: center;
    vertical-align: middle;
    font-family: aleobold, serif;
    font-size: 2.4rem;
    color: #3f51b5; }
  .sw-c-purchase__info {
    display: table;
    table-layout: fixed;
    padding-left: 1rem;
    font-family: robotoregular, sans-serif;
    font-size: 1.3rem; }

.sw-c-modal {
  display: block;
  height: 60rem;
  width: 34rem;
  position: fixed;
  z-index: 99; }
  .sw-c-modal__title {
    height: 5rem;
    font-family: ralewaylight, sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #fefefe; }
  .sw-c-modal__content {
    margin-left: auto;
    margin-right: auto;
    height: 55rem;
    background-color: #fefefe; }
  .sw-c-modal__body {
    height: 85%;
    text-align: center;
    background-color: #fefefe; }
    .sw-c-modal__body__with {
      padding-top: 2rem;
      padding-bottom: 4rem;
      font-family: robotoregular, sans-serif;
      font-size: 1.5rem;
      text-transform: uppercase; }
    .sw-c-modal__body__result {
      padding-bottom: 4rem;
      font-family: ralewaylight, sans-serif;
      font-size: 12rem; }
    .sw-c-modal__body__critical {
      padding-top: 1rem;
      padding-bottom: 4rem;
      font-family: aleobold, serif;
      font-size: 2rem;
      text-transform: uppercase;
      color: red; }
    .sw-c-modal__body__count {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      font-family: robotoregular, sans-serif;
      font-size: 1.8rem;
      color: #dddddd; }
    .sw-c-modal__body__description {
      padding-top: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 2rem;
      font-family: robotoregular, sans-serif;
      font-size: 2.2rem; }
  .sw-c-modal__button {
    display: table;
    table-layout: fixed;
    height: 15%;
    width: 100%;
    background-color: #f8f8f8; }
    .sw-c-modal__button__item {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .sw-c-modal__button__item:active {
        background-color: #ffd740; }
      .sw-c-modal__button__item img {
        height: 4rem;
        width: 4rem; }

.sw-c-points {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #dddddd;
  font-family: ralewaylight, sans-serif;
  font-size: 3rem;
  text-align: center; }
  .sw-c-points span {
    color: #3f51b5; }

.sw-l-header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3f51b5;
  box-shadow: 0.2rem 0.2rem 0.2rem #aaaaaa;
  z-index: 80; }
  .sw-l-header__content {
    display: table;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    height: 6rem;
    width: 68rem; }
    @media (max-width: 349px) {
      .sw-l-header__content {
        width: 34rem; } }
    @media (min-width: 350px) and (max-width: 689px) {
      .sw-l-header__content {
        width: 34rem; } }
  .sw-l-header__hamburger {
    width: 6rem;
    text-align: center;
    vertical-align: middle; }
    .sw-l-header__hamburger img {
      height: 3rem;
      width: 3rem; }
    .sw-l-header__hamburger:active {
      background-color: #ffd740; }
    @media (max-width: 349px) {
      .sw-l-header__hamburger {
        display: none; } }
    @media (min-width: 350px) and (max-width: 689px) {
      .sw-l-header__hamburger {
        display: none; } }
    @media (min-width: 690px) {
      .sw-l-header__hamburger {
        display: none; } }
  .sw-l-header__user {
    display: table-cell;
    width: 6rem;
    text-align: center;
    vertical-align: middle; }
    .sw-l-header__user img {
      height: 3rem;
      width: 3rem; }
    .sw-l-header__user:active {
      background-color: #ffd740; }
  .sw-l-header__logo {
    display: table-cell;
    font-family: walkway_semiboldregular, sans-serif;
    font-size: 3.2rem;
    color: #fefefe;
    vertical-align: middle;
    text-decoration: none; }
    @media (max-width: 349px) {
      .sw-l-header__logo {
        display: none; } }
    @media (min-width: 350px) and (max-width: 689px) {
      .sw-l-header__logo {
        display: none; } }
    @media (min-width: 690px) {
      .sw-l-header__logo {
        width: 12rem;
        padding-left: 1rem;
        text-align: left; } }
  .sw-l-header__menu {
    display: table-cell;
    padding-right: 1rem;
    text-align: right;
    vertical-align: middle; }
    .sw-l-header__menu__item {
      padding-left: 2rem;
      display: inline-block;
      font-family: robotoregular, sans-serif;
      font-size: 1.5rem;
      color: #fefefe;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer; }
      .sw-l-header__menu__item:hover {
        color: #ffd740;
        text-decoration: underline; }
      .sw-l-header__menu__item:active {
        color: #ffab00; }

.sw-l-submenu {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffd740;
  box-shadow: 0.2rem 0.2rem 0.2rem #aaaaaa;
  z-index: 70; }
  .sw-l-submenu__content {
    margin-left: auto;
    margin-right: auto;
    width: 68rem;
    padding-right: 2rem;
    text-align: right; }
    @media (max-width: 349px) {
      .sw-l-submenu__content {
        width: 34rem; } }
    @media (min-width: 350px) and (max-width: 689px) {
      .sw-l-submenu__content {
        width: 34rem; } }
  .sw-l-submenu__item {
    padding-top: 7.5rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    display: inline-block;
    font-family: robotoregular, sans-serif;
    font-size: 1.5rem;
    color: #111111;
    text-transform: uppercase;
    text-decoration: none; }
    .sw-l-submenu__item:hover {
      color: #3f51b5;
      text-decoration: underline; }
    .sw-l-submenu__item:active {
      color: #283593; }

.sw-l-content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  margin-bottom: 8rem;
  width: 68rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #aaaaaa;
  background-color: #f8f8f8; }
  @media (max-width: 349px) {
    .sw-l-content {
      width: 34rem; } }
  @media (min-width: 350px) and (max-width: 689px) {
    .sw-l-content {
      width: 34rem; } }
  .sw-l-content__wrap {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem; }

.sw-l-mask--modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 90; }

.sw-l-mask--menu {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.2);
  z-index: 60; }

.sw-l-table {
  display: table;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  width: 70%; }
  .sw-l-table__row {
    display: table-row; }
    .sw-l-table__row:nth-child(even) {
      background-color: #dddddd; }
    .sw-l-table__row:hover {
      background-color: #ffd740; }
    .sw-l-table__row:active {
      background-color: #ffab00;
      color: #111111; }
  .sw-l-table__col {
    display: table-cell;
    padding: 1rem 1rem 1rem 1rem;
    font-family: robotoregular, sans-serif;
    font-size: 1.8rem;
    text-transform: capitalize;
    vertical-align: middle; }
  .sw-l-table__image {
    display: table-cell;
    width: 4rem;
    text-align: center;
    vertical-align: middle; }
    .sw-l-table__image img {
      height: 2.4rem;
      width: 2.4rem; }
  .sw-l-table__link {
    display: table;
    table-layout: fixed;
    height: 3rem;
    width: 100%;
    text-decoration: none;
    vertical-align: middle; }

.sw-l-quicklink {
  display: table;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto; }
  .sw-l-quicklink__item {
    display: table-cell;
    height: 5rem;
    width: 5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.8rem;
    opacity: 0.4; }
    .sw-l-quicklink__item img {
      height: 3rem;
      width: 3rem; }
    .sw-l-quicklink__item:active {
      opacity: 1;
      background-color: #ffd740; }
    .sw-l-quicklink__item:hover {
      opacity: 1; }

.sw-l-cookiepolicy {
  width: 100%;
  position: fixed;
  padding-bottom: 4rem;
  top: 0;
  left: 0;
  background-color: #ffd740;
  z-index: 200; }

.sw-l-iconlist {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  .sw-l-iconlist__item {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    display: inline-block;
    border-radius: 0.4rem; }
    .sw-l-iconlist__item img {
      height: 3rem;
      width: 3rem; }
    .sw-l-iconlist__item:hover {
      background-color: #ffd740; }

.sw-f-logo {
  font-family: walkway_semiboldregular, sans-serif; }

.sw-is-opacity {
  opacity: 0.2; }

.sw-is-hidden {
  display: none; }

.sw-is-chevron {
  background-color: #7cb342; }

.sw-is-selected {
  background-color: #7cb342; }

.sw-is-unclickable {
  background-color: #dddddd; }

.sw-is-clickable {
  background-color: #7cb342; }

.sw-is-valid {
  color: #33691b; }

.sw-is-invalid {
  color: #f44336; }
