@font-face {
  font-family: Rockwell;
  src: url("../font/rockwell.ttf");
  font-weight: 600; }

@font-face {
  font-family: Walkway;
  src: url("../font/walkway.ttf");
  font-weight: 400; }

@font-face {
  font-family: Roboto;
  src: url("../font/roboto.ttf");
  font-weight: 400; }

html {
  font-size: 10px; }

@media (max-width: 350px) {
  html {
    font-size: 9px; } }

hr {
  border: 0; }

button {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: inherit; }

div {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: inherit; }

h2 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-family: Rockwell, serif;
  font-size: 3rem;
  text-align: center; }

.sw-c-button__item {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  width: 35rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.3rem #555555; }
  @media (max-width: 599px) {
    .sw-c-button__item {
      width: 30rem; } }

.sw-c-button__content {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 3.4rem; }

.sw-c-button__icon {
  display: table-cell;
  width: 3.3rem;
  padding-left: 0.4rem;
  text-align: left;
  vertical-align: middle; }
  .sw-c-button__icon img {
    height: 2.5rem;
    width: 2.5rem; }

.sw-c-button__title {
  display: table-cell;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  text-align: left;
  vertical-align: middle; }

.sw-c-button__value {
  display: table-cell;
  width: 8.5rem;
  font-family: Rockwell, serif;
  font-size: 2rem;
  padding-right: 0.6rem;
  text-align: right;
  vertical-align: middle; }

@media (min-width: 600px) and (max-width: 899px) {
  .sw-c-list {
    margin-left: auto;
    margin-right: auto;
    width: 70rem; } }

@media (min-width: 900px) and (max-width: 1199px) {
  .sw-c-list {
    margin-left: auto;
    margin-right: auto;
    width: 70rem; } }

@media (min-width: 1200px) and (max-width: 1799px) {
  .sw-c-list {
    margin-left: auto;
    margin-right: auto;
    width: 70rem; } }

@media (min-width: 1800px) {
  .sw-c-list {
    margin-left: auto;
    margin-right: auto;
    width: 70rem; } }

.sw-c-list__item {
  margin-bottom: 2rem; }

.sw-c-list__header {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 6rem; }

.sw-c-list__icon {
  display: table-cell;
  width: 4rem;
  text-align: left;
  vertical-align: middle; }
  .sw-c-list__icon img {
    height: 3rem;
    width: 3rem; }

.sw-c-list__title {
  display: table-cell;
  font-family: Rockwell, serif;
  font-size: 2.6rem;
  text-align: left;
  vertical-align: middle; }

.sw-c-list__description {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 1rem;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem; }

.sw-c-list__settings {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 1rem;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem; }

.sw-c-card {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media (max-width: 599px) {
    .sw-c-card {
      width: 30rem; } }
  .sw-c-card__item {
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 10rem;
    display: inline-block; }
    @media (max-width: 599px) {
      .sw-c-card__item {
        width: 8.4rem; } }
    .sw-c-card__item--small {
      padding: 0.6rem 0.6rem 0.6rem 0.6rem;
      width: 7.5rem;
      display: inline-block; }
      @media (max-width: 599px) {
        .sw-c-card__item--small {
          width: 8.4rem; } }
  .sw-c-card__title {
    padding: 1rem 1rem 1rem 1rem;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 599px) {
      .sw-c-card__title {
        font-size: 1.3rem; } }
  .sw-c-card__value {
    padding: 1rem 1rem 1rem 1rem;
    font-family: Rockwell, serif;
    font-size: 3.8rem;
    text-align: center;
    vertical-align: middle; }

.sw-l-content__wrapper {
  width: 100%;
  background: #999999; }

.sw-l-content__item {
  padding: 1rem 1rem 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  background: #444444; }
  @media (max-width: 599px) {
    .sw-l-content__item {
      width: 30rem; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .sw-l-content__item {
      width: 74rem; } }
  @media (min-width: 900px) and (max-width: 1199px) {
    .sw-l-content__item {
      width: 74rem; } }
  @media (min-width: 1200px) and (max-width: 1799px) {
    .sw-l-content__item {
      width: 111rem; } }
  @media (min-width: 1800px) {
    .sw-l-content__item {
      width: 111rem; } }

.sw-is-hidden {
  display: none; }
  .sw-is-hidden * {
    display: none; }
