.sw-c-cookiepolicy {
  @include centered;
  @include font--thin(2.4rem);

  position: fixed;

  bottom: 0;
  left: 0;

  width: 100%;

  padding-top: 1.4rem;
  padding-bottom: 1.4rem;

  text-align: center;
  line-height: 1.4;
  color: $color-white-w1;

  background-color: $color-red-primary;

  z-index: $z-points;

  @include for-phone {
    @include font--thin(2rem);

    width: 100%;
  }

  @include for-tiny {
    @include font--thin(2rem);

    width: 100%;
  }
}