.sw-l-wrap {
  @include margin--auto;

  padding-left: 2rem;
  padding-right: 2rem;

  max-width: $size-desktop;
}

.sw-l-content {
  padding-bottom: 10rem;
}

.sw-l-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sw-l-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sw-l-purchase {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sw-l-quicklink {
  @include table;
  @include margin--auto;

  margin-top: 1rem;
  margin-bottom: 1rem;
}