.sw-l-wrap {
  @include margin--auto;

  padding-left: 2rem;
  padding-right: 2rem;

  max-width: 80rem;
}

.sw-l-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sw-l-roll {
  padding-top: 4rem;
  padding-bottom: 4rem;

  text-align: center;
}

.sw-l-attribute {
  padding-top: 4rem;
  padding-bottom: 4rem;

  text-align: center;
}

.sw-l-list {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sw-l-purchase {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sw-l-quicklink {
  @include table;
  @include margin--auto;

  margin-top: 1rem;
  margin-bottom: 1rem;
}