.sw-is-opacity {
  opacity: 0.2;
}

.sw-is-hidden {
  display: none;
}

.sw-is-dangerous {
  background-color: $color-red-primary;

  &:hover {
    background-color: $color-red-secondary;
  }
}

.sw-is-highlighted {
  background-color: $color-amber-highlight;
}

.sw-is-selected {
  background-color: $color-green-primary;
}

.sw-is-valid {
  color: $color-green-secondary;
}

.sw-is-invalid {
  color: $color-red-primary;
}
