.sw-is-opacity {
  opacity: 0.3 !important;;
}

.sw-is-hidden {
  display: none !important;;
}

.sw-is-dangerous {
  background-color: $color-red-primary !important;;

  &:hover {
    background-color: $color-red-secondary !important;;
  }
}

.sw-is-highlighted {
  background-color: $color-amber-highlight !important;;
}

.sw-is-gray {
  background-color: $color-white-w3 !important;;
}

.sw-is-selected {
  background-color: $color-green-primary !important;;
}

.sw-is-valid {
  color: $color-green-secondary !important;;
}

.sw-is-invalid {
  color: $color-red-primary !important;
}
