$color-white-w1: #fefefe;
$color-white-w2: #f8f8f8;
$color-white-w3: #eeeeee;
$color-white-w4: #dddddd;

$color-gray-g1: #cccccc;
$color-gray-g2: #aaaaaa;
$color-gray-g3: #999999;
$color-gray-g4: #888888;

$color-black-b1: #333333;
$color-black-b2: #222222;
$color-black-b3: #111111;
$color-black-b4: #000000;

$color-indigo-primary: #3f51b5; //500
$color-indigo-secondary: #283593; //900

$color-amber-highlight: #ffe57f; //A100
$color-amber-primary: #ffd740; //A200
$color-amber-secondary: #ffab00; //A700

$color-red-highlight: #ffcdd2; //100
$color-red-border: #EF9A9A; //200
$color-red-primary: #f44336; //500
$color-red-secondary: #d50000; //A700

$color-green-highlight: #dcedc8; //100
$color-green-border: #C5E1A5; //200
$color-green-primary: #7cb342; //600
$color-green-secondary: #33691b; //900
