input[type=text], input[type=number], input[type=email], input[type=password], textarea {
  @include padding(0.5rem);
  @include font(2rem);
  
  width: 100%;

  &:required {
    &:invalid {
      background-color: $color-red-highlight;
      border: 1px solid $color-red-border;
    }

    &:valid {
      background-color: $color-green-highlight;
      border: 1px solid $color-green-border;
    }
  }

  &:optional {
    background: $color-white-w0;
    border: 1px solid $color-white-w4;
  }
}

input[type=submit] {
  @include centered;
  @include font--fancy(2rem);

  display: block;

  margin-top: 3rem;

  height: 5rem;

  text-align: center;

  border-radius: 0.6rem;

  &:enabled {
    background-color: $color-green-primary;
    color: $color-white-w1;

    &:hover {
      background-color: $color-green-secondary;
    }
  }

  &:disabled {
    background-color: $color-white-w4;
    color: $color-white-w1;
  }

  &:active {
    background-color: $color-amber-primary;
  }
}

.sw-c-input {

  &__title {
    @include font--fancy(1.6rem);

    margin-top: 2rem;
    margin-bottom: 0.6rem;
  }

  &__description {
    @include font(1.2rem);

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    color: $color-gray-g4;
    line-height: 1.5;
  }
}