// Alegreya
@font-face {
  font-family: 'alegreya_sanslight';
  src: url('../../font/alegreya-webfont.woff2') format('woff2'),
  url('../../font/alegreya-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Aleo - Regular
@font-face {
  font-family: 'aleoregular';
  src: url('../../font/aleo-regular-webfont.woff2') format('woff2'),
  url('../../font/aleo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Aleo - Light
@font-face {
  font-family: 'aleolight';
  src: url('../../font/aleo-webfont.woff2') format('woff2'),
  url('../../font/aleo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Aleo - Bold
@font-face {
  font-family: 'aleobold';
  src: url('../../font/aleo-bold-webfont.woff2') format('woff2'),
  url('../../font/aleo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Quicksand
@font-face {
  font-family: 'quicksandlight';
  src: url('../../font/quicksand-webfont.woff2') format('woff2'),
  url('../../font/quicksand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Roboto
@font-face {
  font-family: 'robotoregular';
  src: url('../../font/roboto-webfont.woff2') format('woff2'),
  url('../../font/roboto-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Walkway
@font-face {
  font-family: 'walkway_semiboldregular';
  src: url('../../font/walkway-webfont.woff2') format('woff2'),
  url('../../font/walkway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Raleway
@font-face {
  font-family: 'ralewaylight';
  src: url('../../font/raleway-light-webfont.woff2') format('woff2'),
  url('../../font/raleway-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin font($size) {
  font-family: robotoregular, sans-serif;
  font-size: $size;
}

@mixin font--logo($size) {
  font-family: walkway_semiboldregular, sans-serif;
  font-size: $size;
}

@mixin font--thin($size) {
  font-family: ralewaylight, sans-serif;
  font-size: $size;
}

@mixin font--fancy($size) {
  font-family: aleobold, serif;
  font-size: $size;
}

.sw-t-t1 {
  @include font--thin(3.4rem);

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sw-t-t2 {
  @include font--thin(3rem);

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sw-t-t3 {
  @include font--thin(2.6rem);

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sw-t-t4 {
  @include font--thin(2.2rem);

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sw-t-s1 {

}

.sw-t-s2 {

}

.sw-t-s3 {

}

.sw-t-s4 {

}