// Alegreya
@font-face {
  font-family: 'alegreya_sanslight';
  src: url('../../font/alegreya-webfont.woff2') format('woff2'),
  url('../../font/alegreya-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Aleo - Regular
@font-face {
  font-family: 'aleoregular';
  src: url('../../font/aleo-regular-webfont.woff2') format('woff2'),
  url('../../font/aleo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Aleo - Light
@font-face {
  font-family: 'aleolight';
  src: url('../../font/aleo-webfont.woff2') format('woff2'),
  url('../../font/aleo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Aleo - Bold
@font-face {
  font-family: 'aleobold';
  src: url('../../font/aleo-bold-webfont.woff2') format('woff2'),
  url('../../font/aleo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Quicksand
@font-face {
  font-family: 'quicksandlight';
  src: url('../../font/quicksand-webfont.woff2') format('woff2'),
  url('../../font/quicksand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Roboto
@font-face {
  font-family: 'robotoregular';
  src: url('../../font/roboto-webfont.woff2') format('woff2'),
  url('../../font/roboto-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Walkway
@font-face {
  font-family: 'walkway_semiboldregular';
  src: url('../../font/walkway-webfont.woff2') format('woff2'),
  url('../../font/walkway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Raleway
@font-face {
  font-family: 'ralewaylight';
  src: url('../../font/raleway-light-webfont.woff2') format('woff2'),
  url('../../font/raleway-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin font($size) {
  font-family: robotoregular, sans-serif;
  font-size: $size;
}

@mixin font--logo($size) {
  font-family: walkway_semiboldregular, sans-serif;
  font-size: $size;
}

@mixin font--thin($size) {
  font-family: ralewaylight, sans-serif;
  font-size: $size;
}

@mixin font--fancy($size) {
  font-family: aleobold, serif;
  font-size: $size;
}

@mixin h1 {
  @include font--thin(3.4rem);

  padding-top: 4rem;
  padding-bottom: 2rem;

  text-align: center;

  cursor: default;
}

@mixin h2 {
  @include font--thin(3rem);

  padding-top: 4rem;
  padding-bottom: 2rem;

  text-align: center;

  cursor: default;
}

@mixin h3 {
  @include font--thin(2.6rem);

  padding-top: 2rem;
  padding-bottom: 1rem;

  text-align: center;

  cursor: default;
}

@mixin h4 {
  @include font--thin(2.2rem);

  padding-top: 2rem;
  padding-bottom: 1rem;

  text-align: center;

  cursor: default;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

p {
  @include font(1.8rem);

  line-height: 1.5;
}

.sw-t-subtitle {
  @include font(1.8rem);

  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1rem;

  font-style: italic;
  text-align: center;
  line-height: 1.8;
}

.sw-t-t1 {
  @include h1;
}

.sw-t-t2 {
  @include h2;
}

.sw-t-t3 {
  @include h3;
}

.sw-t-t4 {
  @include h4;
}