.sw-o-action {
  @include table;
  @include centered();

  height: 10rem;

  margin-top: 3rem;
  margin-bottom: 3rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  border-radius: 0.6rem;

  background-color: $color-indigo-primary;

  &:hover {
    background-color: $color-indigo-secondary;
    transition: color 1s ease;
  }

  &__image {
    @include cell;

    width: 10rem;

    text-align: center;
    vertical-align: middle;

    @include for-phone {
      width: 7rem;
    }

    img {
      @include size(4.8rem);

      @include for-phone {
        @include size(4rem);
      }
    }
  }

  &__container {
    @include cell;

    vertical-align: middle;
  }

  &__title {
    @include font--fancy(3rem);

    color: $color-white-w1;

    @include for-phone {
      font-size: 2rem;
    }
  }

  &__text {
    @include font(1.5rem);

    padding-top: 1rem;

    color: $color-white-w1;
  }
}