.sw-o-button {
  @include table;
  @include margin--auto;

  width: 60%;

  margin-top: 2rem;
  margin-bottom: 2rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  border-radius: 0.8rem;
  text-align: center;

  background-color: $color-indigo-primary;

  @include for-phone {
    width: 80%;
  }

  &:hover {
    background-color: $color-indigo-secondary;
    transition: color 1s ease;
  }

  &__image {
    display: inline-block;

    width: 4rem;

    vertical-align: middle;

    img {
      @include size(2rem);
    }
  }

  &__title {
    @include font--fancy(1.8rem);

    display: inline-block;

    vertical-align: middle;

    color: $color-white-w1;
  }
}