.sw-o-link {
  @include font--fancy(1.5rem);

  display: block;

  margin-top: 2rem;
  margin-bottom: 2rem;

  text-align: center;
  vertical-align: middle;

  color: $color-indigo-primary;

  &:hover {
    text-decoration: underline;
    color: $color-indigo-secondary;
    transition: color 1s ease;
  }
}