.sw-o-quicklink {
  @include table;
  @include margin--auto;

  .sw-o-item {
    @include cell;

    height: 5rem;
    width: 5rem;

    text-align: center;
    vertical-align: middle;

    border-radius: 0.8rem;

    opacity: 0.4;

    img {
      @include size(3rem);
    }

    &:hover {
      opacity: 1;
    }
  }
}